.buttons2{ background:url("buttons2.png") top left no-repeat; }
.blue{ width:76px; height:78px; background-position:-10px -10px; }
.white{ width:76px; height:78px; background-position:-10px -98px; }
.green{ width:76px; height:78px; background-position:-10px -186px; }
