<!DOCTYPE html>
<html ng-app="ticTacToe">
<head>
	<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
    <link rel="stylesheet" href="ttt.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="ttt.js"></script>
</head>
  <body ng-controller="tictacController">
    <div class="graybackground">
      <div class="container">
        <div class = "leftcol">
          <form action="Board Size">
            <select name="sizes">
              <option value="3">3x3</option>
              <option value="4">4x4</option>
              <option value="5">5x5</option>
              <option value="6">6x6</option>
              <option value="7">7x7</option>
            </select>
          </form>
          <form action="Win Condition">
            <select name="conditions">
              <option value="3">3 in a row</option>
              <option value="4">4 in a row</option>
              <option value="5">5 in a row</option>
              <option value="6">6 in a row</option>
              <option value="7">7 in a row</option>
            </select>
          </form>
        </div>
     	  
        <div class="board" ng-repeat="rows in board">

          <div id="{{ tile.x }}_{{ tile.y }}" ng-class="{ tile: true, p1: tile.playerOneOwns, p2: tile.playerTwoOwns}" ng-repeat="tile in rows" ng-click="tileMark(tile) ; clickingBox(whichArray(tile), tile.x, tile.y)">
              
            <div class="mark">
                <!--x{{ tile.x }}, y{{ tile.y }} -->
            </div>
            
          </div>

        </div>
      </div>
    </div>


  </body>
</html>